/*固定背景*/
.bg_code {
    background: url(../img/code-bg.jpg) no-repeat center fixed;
    background-size: cover;
}

.view_more {
    margin-top: 50px;
}

.view_more a {
    position: relative;
    border-radius: 30px;
    padding: 0 55px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #c2c2c2;
    border-color: rgba(255, 255, 255, .2);
    font-size: 24px;
    color: #ccc;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.view_more a:hover {
    border-color: rgba(255, 255, 255, .3);
    color: #fff;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 0;
}

.view_more a i {
    position: absolute;
    left: 45px;
    font-size: 30px;
}

/*快速入口*/
i.fast-entry {
    width: 100px;
    height: 100px;
    background-color: #393d49;
    text-align: center;
    font-size: 45px;
    line-height: 100px;
    color: #fff;
    -o-border-radius: 100%;
    border-radius: 100%;
    transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
}

i.fast-entry:hover {
    background-color: #60B878;
}

/*我们优势*/
.img_box {
    height: 200px;
    overflow: hidden;
}

/*客户评价*/
.layui-carousel > [carousel-item] > * {
    background-color: #fff;
}

/*成功案例*/

.success_case {
    position: relative;
    width: 1200px;
    margin: 0 auto
}

.success_case .swiper-container {
    padding-bottom: 60px;
}

.success_case .swiper-slide {
    width: 500px;
    height: 400px;
    background: #fff;
    box-shadow: 0 8px 30px #1c2734;
}

.success_case .swiper-slide img {
    display: block;
}

.success_case .swiper-slide p {
    line-height: 98px;
    padding-top: 0;
    text-align: center;
    color: #636363;
    font-size: 1.1em;
    margin: 0;
}

.success_case .swiper-pagination {
    width: 100%;
    bottom: 20px;
}

.success_case .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
    border: 3px solid #fff;
    background-color: #d5d5d5;
    width: 10px;
    height: 10px;
    opacity: 1;
}

.success_case .swiper-pagination-bullets .swiper-pagination-bullet-active {
    border: 3px solid #5fb878;
    background-color: #fff;
}

.success_case .swiper-button-prev {
    left: -30px;
    width: 45px;
    height: 45px;
    background: url(../img/case/wm_button_icon.png) no-repeat;
    background-position: 0 0;
    background-size: 100%;
}

.success_case .swiper-button-prev:hover {
    background-position: 0 -46px;
    background-size: 100%
}

.success_case .swiper-button-next {
    right: -30px;
    width: 45px;
    height: 45px;
    background: url(../img/case/wm_button_icon.png) no-repeat;
    background-position: 0 -93px;
    background-size: 100%;
}

.success_case .swiper-button-next:hover {
    background-position: 0 -139px;
    background-size: 100%
}

.partners {
    overflow: hidden;
    width: 1200px;
    margin: auto
}

.partners ul li {
    float: left;
    padding: 20px 0 50px 0
}

.partners ul li img {
    margin: 0 10px;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.partners ul li img:hover {
    box-shadow: 0 10px 50px #c5c5c5;
}

