
/*替换框架自带样式*/
.layui-btn-primary:hover{border-color: #1E9FFF}
.layui-breadcrumb a:hover{color: #1E9FFF!important;}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{background-color: #1E9FFF;}
.layui-fixbar li{ background-color: #9F9F9F !important;}
/*导航栏logo*/
.top-nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #393D49;
}
.top-nav .btn {
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 60px;
}
.logo {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: url(../img/logo.png) no-repeat left center;
    -webkit-background-size: cover;
    background-size: cover;
    text-indent: -9999px;
}
.top-user{
    height: 60px;
}
/*分页*/
.load_more{padding: 10px 20px;border: 1px solid #1E9FFF;font-size: 14px;}
.load_more:hover{color: #1E9FFF;}
/*响应式显示隐藏页面结构*/
@media screen and (max-device-width: 1000px) {
    .pc {
        display:none;
    }
    .mob {
        display: block;
    }
}

/*页面banner标题*/
.caption{
    background-position: top center;
    padding: 50px 0;
    margin-top: 60px;
}
.caption h1 {
    display: inline-block;
    font-size: 40px;
    color: #fff;
    font-weight: 100;
}

/*副标题上划线*/
.border_top_green_2px {
    border-top: 2px solid #60B878;
}
.border_top_red_2px {
    border-top: 2px solid #FF5722;
}
.border_top_blue_2px {
    border-top: 2px solid #01AAED;
}
.border_top_black_2px {
    border-top: 2px solid #1c2734;
}
.border_top_grey{
    border-top: 1px solid #888;
}
.border_ddd{
    border: 1px solid #ddd;
}

/*头像边框*/
.border_tx_lcyan{border: 2px solid #636a7f;}

/*图片经过效果*/
.img-hover img{
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.img-hover:hover img {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

/*区块阴影效果*/
.shadow{
    box-shadow: 0 0 50px #ddd;
}

/*页脚底部团队小照片组*/
.group_list_xs li{
    float: left;
    padding: 5px;
}
.group_list_xs li img{
    border: 2px solid rgba(255,255,255,0.2);
}
/*隐藏百度地图版权标志*/
.anchorBL{display:none;}

/*页脚*/
.footer{background-image: url('../img/top_banner.jpg')}
.footdl a:hover{color: #01AAED!important;}
.foot_copyright{padding: 10px;border-top: 1px solid #4c5162}


